.navbar {
  width: 100%;
  max-width: 100vw;
  background: darkblue;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 40;
}

.navbar .nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-left: auto;
  flex: 1;
  max-width: 650px;
}

ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}